@import '../../variables';

.root {
  min-height: 100vh;
  background: $danger;
}

.wrap {
  position: relative;
}

.text {
  position: absolute;
  left: 12%;

  font-weight: bold;
  font-size: 700px;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.5);
}

.layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subTitle {
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  color: $dark;
  margin-bottom: 60px;

  span {
    color: $white;
  }
}
